table tr:nth-child(odd){
    background-color: #dcdbd8;
}

table{
    border-collapse: collapse;
    margin: 1%;
}

table td{
    width: 200px;
    border: 1px solid black;
    height: 50px;
}

table td a, table td p{
    display: flex;
    align-items: center;
    justify-content: center;
}

table td a:link, table td a:visited{
    text-decoration: none;
    color: blue;
}

.add a:link ,.add a:visited{
    color: white;
    text-decoration: none;
}

.deleteUser:link, .deleteUser:visited{
    color: red;
}

.add a{
    font-size: 25px;
}

.add{
    border: 1px solid black;
    background-color: #3428ff;
    border-radius: 10px;
    margin: 1% 1% 0 1%;
    width: 10%;
    padding-left: 2.5%;
}

hr{
    border: 1.2px solid gray;
}

h3{
    color: green;
}
