.connexionContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5% 0 1% 0;
}

label{
    display:block;
    float:left;
    font-size: 25px;
    text-align: left;
}

input
{
    height: 55px;
    width: 458px;
}

input[type="email"],input[type="password"], input[type="text"]
{
    font-size: 25px;
    border: 1px solid #F0C977;
    border-radius: 10px;
}

input[type="submit"]{
    width: 50%;
    font-size: 21px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color: #F0C977 ;
}

.email, .password, .last_name, .first_name, .adress{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
}

a:link, a:visited{
    text-decoration: none;
    color: #f0a938;
}

small:last-child{
    margin-bottom: 1%;
}


.message h1{
    color: red;
}