body{
    margin: 0;
    font-family: Oxygen;
}

nav{
    max-width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 14.542936288088642vh;
}

nav a:link, nav a:visited{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 28px;
    margin: 0 2%;
}

.logo{
    margin-right: 6%;
    margin-left: 1%;
    font-size: 35px;
}

.accountIcon, .cartIcon{
    max-width: 2.4088541666666665vw;
}

.searchIcon{
    margin: 0 1% 0 3%;
    height: 3.739612188365651vh;
    max-width: 1.7578125vw;
}

nav a:nth-child(n+6){
    margin: 0 1%;
}

@media (max-width: 938px) {
    nav a{
        font-size: 20px;
    }

    .logo{
        font-size: 25px;
    }
}