a:link, a:visited{
    text-decoration: none;
    color: black;
}

.carouselle{
    max-width: 100%;
    height: 600px;
    background-size: 100%;
    background-image: url("../img/Bannière/YugiohWallpaper.jpg");
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 8.333%);
    grid-template-rows: repeat(10, 10%);
}

.bannerContainer{
    grid-row: 3/11;
    grid-column: 8/11;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerImg{
    max-width: 14.973958333333334vw;
}

.product{
    max-width: 80%;
}

.bannerBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type='button']{
    background-color: #F0C977;
    font-family: Oxygen;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid black;
    height: 52px;
    max-width: 100%;
    border-radius: 10px;
}

.arrow{
    max-height: 11.772853185595569vh;
}

.dots{
    text-align:center;
}

.dot{
    cursor: pointer;
    position: relative;
    top: -50px;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.dotActive, .dot:hover {
    background-color: white;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
}

.next {
    right: 0;
}

.newProductContainer,.bestSellerContainer,.popularContainer{
    width: 100%;
    height: 143.62880886426592vh;
}

.bestSellerContainer{
    background-color: #F7F7F7;
}

.new_ProductContainer, .bestSeller_ProductContainer, .popular_ProductContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title h1{
    font-family: Cinzel;
    font-weight: normal;
    margin-top: 5%;
    margin-bottom: 0;
    text-align: center;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
}

.title hr{
    width: 10%;
    border: 1.2px solid #707070;
}

.productCase{
    border: 1px solid black;
    max-width: 29.296875vw;
    height: 90.02770083102493vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.productImage{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.productDescription{
    display: none;
    position: absolute;
    z-index: 10;
    font-weight: bold;
    font-family: Oxygen;
    font-size: 25px;
    text-align: center;
    margin: 0;
    height: 90.02770083102493vh;
    width: 29.296875vw;
    background-color: rgba(235, 235, 235, .5);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 1085px) {
    .carouselle, .dots{
        display: none;
    }

    .new_ProductContainer, .bestSeller_ProductContainer, .popular_ProductContainer{
        flex-wrap: wrap;
    }

    div.productCase{
        max-width: 45%;
        margin-bottom: 5%;
    }

    .product{
        max-width: 70%;
    }

    .productDescription{
        width: 45%;
    }

    .newProductContainer,.bestSellerContainer,.popularContainer{
        width: 100%;
        height: 100%;
    }

    .title h1{
        font-size: 50px;
    }

    .title hr{
        width: 20%;
    }
}

@media (max-width: 670px) {
    div.productCase{
        max-width: 80%;
        margin-bottom: 5%;
    }

    .productDescription{
        width: 80%;
    }

    .productDescription p{
        font-size: 30px;
    }

    input[type="button"]{
        width: 25.449101796407184vw;
        height: 9.695290858725762vh;
        font-size: 20px;
    }
}

@media (max-width: 375px) {

}